* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --swiper-theme-color: #42008e;
    /* Note: The above variable is a set one in the code */
    scroll-behavior: smooth;
}
.mainHeader {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #8bbbdd;
}
nav {
    display: flex;
    position: relative;
    padding: 4% 6%;
    color: #000;
}
nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0.6em 0.8em;
    font-size: 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
nav ul li h2 {
    font-size: 1.4em;
    font-weight: 400;
    transition: all 0.5s;
}
nav ul li h2:hover {
    color: #42008e;
}
.header {
    color: #000;
    justify-content: left;
    display: flex;
    align-items: left;
}
.header .content {
    display: inline-block;
    transform: translate(4em, 0);
}
.header .content h2 {
    padding: 0.4em 1em;
    top: 0;
    text-align: left;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
}
.header .content h2 span {
    color: #42008e;
}
.header p {
    padding: 0.4em 1em;
    top: 0;
    text-align: left;
    font-size: 1.2em;
    width: 18em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 1em;
}
.header img {
    display: block;
    position: relative;
    width: 60em;
    right: 0;
}
hr {
    border: 1px solid #fff;
}
.textSection {
    background: #8bbbdd;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.textSection h2 {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-top: 2em;
    position: relative;
}
.textSection p {
    color: #000;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 0.3em;
}
#autobiography {
    display: flex;
    flex-direction: column;
}
#autobiography .content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4em;
}
#autobiography p {
    width: 20em;
    font-size: 1.3em;
    padding: 0.2em;
    padding-bottom: 0.7em;
}
#autobiography img {
    position: relative;
    align-self: center;
    right: 2em;
    width: 20em;
}
#expertise h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    margin: 1em;
}
.skills {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.skills .progress {
    width: 35em;
    height: 1em;
    background: #70a5ca;
    margin: 1.8em;
    border-radius: 0.5em;
}
.skills .progress span {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 0.4em;
    display: flex;
    transform: translateY(-2em);
}
.skills .progress div {
    height: 100%;
    border-radius: 0.5em;
    position: relative;
    transform: translateY(-2.4em);
    z-index: 1;
    animation: enter 1s linear forwards;
}
.javascript {
    width: 82%;
    background: #00cc00;
}
.python {
    width: 60%;
    background: #c421a3;
}
.css {
    width: 80%;
    background: #3759ca;
}
@keyframes enter {
    from {
        width: 0%;
    }
}
/* Swiper */
.swiper {
    width: 18em;
    height: 23em;
    margin: 1em;
}
.swiper-slide {
    background: #70a5ca;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide h2 {
    position: relative;
    top: -1em;
    font-size: 1.5em;
    margin: 0.2em 1em;
}
.swiper-slide img {
    width: 10em;
    position: relative;
    margin: 0.2em;
}
#hireMe p {
    margin-bottom: 2em;
}
#scrollTop {
    align-self: flex-end;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #42008e;
    cursor: pointer;
    padding: 0.3em;
    transition: all 0.5s;
}
#scrollTop:hover {
    color: #8bbbdd;
    background: #42008e;
}
.footer {
    background: #8bbbdd;
    width: 100%;
    position: relative;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    column-gap: 2em;
}
.footer p {
    padding: 0.5em;
    font-size: 0.8em;
    text-align: center;
    display: block;
    position: absolute;
    margin: 2em;
}
/* For slide in from left */
[data-inViewport="slideLeft"] {
    transition: 1.5s;
    opacity: 0;
    transform: translateX(-4em);
}
[data-inViewport="slideLeft"].is-inViewport {
    opacity: 1;
    transform: translateX(0em);
}
/* For Slide In from top */
[data-inViewport="slideTop"] {
    transition: 1.5s;
    opacity: 0;
    transform: translateY(-4em);
}
[data-inViewport="slideTop"].is-inViewport {
    opacity: 1;
    transform: translateY(0em);
}

ion-icon[name="moon-outline"] {
    margin-left: 1.8em;
    margin-top: 0.8em;
    border: none;
    color: #000;
    opacity: 1;
}
ion-icon[name="sunny-outline"] {
    margin-left: 1.8em;
    margin-top: 0.8em;
    border: none;
    color: #000;
    opacity: 1;
}
